* {
  box-sizing: border-box;
}

body {
  color: #ffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Verdana, Geneva,
    Tahoma, sans-serif;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  max-width: 1075px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: gray;
}

/***************** nav style ***************/

.logo img {
  height: 5.9em;
  margin: 0px 0px -102px -26px;
  max-width: 200px;
  position: relative;
  z-index: 1;
}

/******************** nav style *******************/
.topnav {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #d3d0c5;
  display: flex;
  justify-content: end;
  margin: 0px 11px 0px 0px;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}

.topnav a {
  color: #707070;
  display: block;
  font-size: 17px;
  padding: 14px 24px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

.topnav .icon {
  box-shadow: -2px 0 0 -1px #d3d0c5;
  display: none;
}

.style-nav {
  float: left;
  overflow: hidden;
}

.style-nav:hover {
  border-bottom: #6c9ead solid;
  border-bottom-width: 3px;
}

.topnav a.top-nav-active {
  border-bottom: #6c9ead solid;
  border-bottom-width: 3px;
}
/**drop dowm**/
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  background-color: inherit;
  border: none;
  outline: none;
  color: #707070;
  display: block;
  font-size: 17px;
  padding: 14px 16px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: #6c9ead;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-bottom: #6c9ead solid;
  border-bottom-width: 3px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*************** tablet nav style ******************/

@media screen and (max-width: 980px) {
  .topnav a:not(:first-child),
  .style-nav {
    display: none;
  }

  .topnav a.icon {
    display: block;
    float: right;
    font-size: 32px;
    margin-top: 30px;
  }

  .logo {
    height: 0px;
  }

  .logo img {
    margin: 10px 0px -96px 12px;
    width: 19em;
  }

  .responsive .icon {
    font-size: 24px;
  }

  .topnav.responsive {
    display: block;
    position: relative;
  }

  .topnav.responsive ul {
    margin-top: 110px;
    padding-left: 0px;
  }

  .responsive .style-nav {
    display: block;
    float: none;
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }

  .topnav {
    display: block;
    margin: 0px 20px 0px 20px;
  }

  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav .dropdown {
    float: none;
  }
  .topnav .dropdown-content {
    position: relative;
  }
  .topnav .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}
/**************************************************/
/*************** mobile nav style ******************/
/**************************************************/

@media screen and (max-width: 600px) {
  .logo img {
    margin-left: 10px;
  }
}

/************************* homepage main img style *******************/

.intro-homepage {
  position: relative;
  margin-top: -137px;
}

.intro-homepage svg {
  left: 50%;
  position: relative;
  top: 442px;
  transform: translate(-50%, -50%);
  width: 331px;
  z-index: 2;
}

.intro-img-homepage__column img {
  opacity: 0.5;
  width: 100%;
}

.intro-img-homepage__headings h1 {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  color: #6c7b86;
  z-index: 1;
}

.intro-img-homepage__headings h2 {
  position: absolute;
  top: 564px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #6c7b86;
  z-index: 1;
}

.intro-img-homepage__column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.intro-img-homepage__row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 980px) {
  .intro-homepage svg {
    top: 347px;
    width: 243px;
  }
  .intro-img-homepage__headings h1 {
    top: 372px;
    font-size: 32px;
  }

  .intro-img-homepage__headings h2 {
    top: 417px;
    font-size: 25px;
  }
}

@media screen and (max-width: 680px) {
  .intro-homepage svg {
    top: 266px;
    width: 175px;
  }
  .intro-img-homepage__headings h1 {
    top: 295px;
    font-size: 17px;
  }

  .intro-img-homepage__headings h2 {
    top: 323px;
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .intro-img-homepage__headings h1,
  .intro-img-homepage__headings h2 {
    font-size: 15px;
  }
  .intro-img-homepage__headings h2 {
    top: 315px;
  }
}

/*************************homepage popular hikes style *******************/

.homepage-popular-hikes__heading h2 {
  text-align: center;
  font-size: 43px;
  color: #6c9ead;
}

.homepage-popular-hikes {
  background-color: #c7d1ce;
  margin-left: 4px;
  margin-right: 4px;
}

.homepage-popular-hikes__container h2 {
  font-size: 22px;
}

.homepage-popular-hikes__column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 16px 5px 1px 8px;
}

.homepage-popular-hikes__container i {
  color: #6c9ead;
  font-size: 26px;
  margin-right: 14px;
  margin-bottom: 16px;
}

/********flip card************/

.homepage-popular-hikes__flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.homepage-popular-hikes__flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.homepage-popular-hikes__flip-card:hover
  .homepage-popular-hikes__flip-card-inner {
  transform: rotateY(180deg);
}

.homepage-popular-hikes__flip-card-front {
  background-color: #bbb;
  color: black;
}

.homepage-popular-hikes__flip-card-front,
.homepage-popular-hikes__flip-card-back,
.camping-hikes__flip-card-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.homepage-popular-hikes__flip-card-front,
.homepage-popular-hikes__flip-card-back {
  margin-top: -441px;
  height: 441px;
}

.camping-hikes__flip-card-back {
  height: 464px;
  margin-top: -463px;
}

.homepage-popular-hikes__flip-card-back {
  background-color: #e1dfdb;
  color: white;
  transform: rotateY(180deg);
  text-align: center;
}

.homepage-popular-hikes__flip-card-back h2 {
  font-size: 20px;
  color: #004c42;
  margin-top: 100px;
}

.homepage-popular-hikes__flip-card-back p {
  font-size: 32px;
  color: #007a77;
}
.homepage-popular-hikes__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.homepage-popular-hikes__card img {
  width: 100%;
}

.homepage-popular-hikes__container {
  padding: 0 18px;
}

.homepage-popular-hikes__container::after,
.homepage-popular-hikes__row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-size: 16px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 16px;
  color: white;
  background-color: #9d5f3e;
  text-align: center;
  cursor: pointer;
  width: 92%;
  font-size: 18px;
  border-radius: 3px;
  text-decoration: none;
}

.button:hover,
.newsletter-btn:hover {
  filter: brightness(115%);
}

.homepage-popular-hikes__container a {
  display: none;
}

@media screen and (max-width: 810px) {
  .homepage-popular-hikes__column {
    width: 100%;
    display: block;
  }
  .homepage-popular-hikes__flip-card:hover
    .homepage-popular-hikes__flip-card-inner {
    transform: none;
  }

  .homepage-popular-hikes__container a {
    display: block;
    width: 100%;
    margin-bottom: 14px;
  }
}

/************* our hikes cta*************/
.homepage-our-hikes__flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 0px;
  padding: 18px 14px;
  background-color: #e1dfdb;
  margin-top: 19px;
  margin-left: 4px;
  margin-right: 4px;
}

.homepage-our-hikes__flex-container a {
  background-color: #ffffff;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block;
  margin-top: 8px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding: 17px;
  width: 100%;
  padding-left: 84px;
  padding-right: 84px;
  color: #2e788e;
}

.homepage-our-hikes__flex-container a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1065px) {
  .homepage-our-hikes__flex-container {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin-top: 18px;
  }
}

/*********/

.homepage__sustainabl-bg-img {
  background-image: url("/images/sustainability_img_02_resize.jpeg");
}

.homepage__sustainabl-bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 187px;
  margin-top: 34px;
  width: 100%;
}

.homepage__sustainable-cta h2 {
  font-size: 30px;
  margin-top: -104px;
  color: #ffffff;
  text-align: center;
}

.homepage__sustainable-cta a {
  text-decoration: none;
}

.homepage__sustainable-cta a:hover {
  filter: brightness(115%);
}

@media screen and (max-width: 730px) {
  .homepage__sustainable-cta h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .homepage__sustainabl-bg-img {
    height: 64px;
  }

  .homepage__sustainable-cta h2 {
    font-size: 18px;
    margin-top: -51px;
  }
}
/*****************home page about us*************************/
.homepage__about-us {
  margin-top: 76px;
  background-color: #2e788e;
  padding: 24px;
  margin-right: 4px;
  margin-left: 4px;
}
.homepage__heading h2,
.homepage__text p {
  text-align: center;
  color: #ffffff;
}

.homepage__text p {
  font-size: 18px;
}

/*********************************** global footer style ****************************************/

.container-footer-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.left-footer-info,
.right-footer-container-info {
  background-color: #6c7b86;
}

.left-footer-info {
  margin: 0px 0px 4px 4px;
  padding: 9.7px;
}

.left-footer-logo img {
  height: 5.8em;
  margin-top: 23px;
  object-fit: contain;
  width: 100%;
}

.right-footer-container-info {
  flex: 50%;
  margin: 0px 4px 4px 3px;
  padding: 10px;
}

.right-footer-container-info h2 {
  color: #ffffff;
}

.right-footer-nav ul {
  column-count: 4;
  list-style-type: none;
  margin: 0px 60px 37px 0px;
  position: relative;
}

.right-footer-nav-style a {
  color: #fff;
  font-size: 18px;
  line-height: 38px;
  padding: 2px;
  text-decoration: none;
}

.right-footer-nav-style a:hover {
  color: #cebfb9;
  text-decoration: underline;
}

/****************** Footer social media style ***************/

.right-footer-social-media i {
  font-size: 69px;
  height: 96px;
  width: 76px;
}

.fa-facebook-square,
.fa-instagram-square,
.fa-twitter-square,
.fa-youtube-square {
  color: #cebfb9;
}

.fa-facebook-square:hover,
.fa-instagram-square:hover,
.fa-twitter-square:hover,
.fa-youtube-square:hover {
  filter: brightness(130%);
}

/************** Footer copyrigt style *********************/
.right-copyright-info h3 {
  color: #fff;
  font-size: 11px;
}

/*************************** Responsive tablet footer style  *********************************/
/********************************************************************************************/

@media screen and (max-width: 1039px) {
  .container-footer-info {
    flex-direction: column;
  }

  .left-footer-info,
  .right-footer-container-info {
    margin: 4px 9px 0px 9px;
    padding: 60.7px;
    text-align: center;
  }

  .right-footer-nav ul {
    column-count: 1;
  }
}

/********************************************************************************************/
/*************************** Responsive mobile footer style  *********************************/
/********************************************************************************************/

@media screen and (max-width: 649px) {
  .right-footer-nav ul {
    margin-right: 45px;
  }

  .right-footer-container-info h2 {
    text-align: center;
  }
}

/*****************short hike page*************************/
.short-hike-page__main-img {
  background-image: url("/images/short_hike_page_jumbotron_img_01_resize.jpeg");
}

.long-hike-page__main-img {
  background-image: url("/images/long_hike_page_jumbotron_img_01_resize.jpeg");
}

.camping-hike-page__main-img {
  background-image: url("/images/camping_hike_page_jumbotron_img_01_resize.jpeg");
}

.about-page__main-img {
  background-image: url("/images/about_page_jumbotron_img_01_resize.jpeg");
}

.travel-info-page__main-img {
  background-image: url("/images/faq_page_jumbotron_img_01_resize.jpeg");
}

.long-hike-page__main-img {
  margin-top: 25px;
}

.long-hike-page__main-img {
  height: 438px;
}

.short-hike-page__main-img,
.camping-hike-page__main-img,
.about-page__main-img,
.travel-info-page__main-img {
  height: 421px;
}

.short-hike-page__main-img,
.long-hike-page__main-img,
.camping-hike-page__main-img,
.about-page__main-img,
.travel-info-page__main-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  width: 100%;
}

.short-hike-page__text h1,
.short-hike-page__text h2,
.short-hike-page__text h3,
.long-hike-page__text h1,
.long-hike-page__text h2,
.long-hike-page__text h3,
.camping-hike-page__text h1,
.camping-hike-page__text h2,
.camping-hike-page__text h3,
.about-page__text h1,
.about-page__text h2,
.about-page__text h3,
.travel-info-page__text h1,
.travel-info-page__text h2,
.travel-info-page__text h3 {
  color: #004c42;
}

.short-hike-page__text h1,
.short-hike-page__text h3,
.long-hike-page__text h1,
.long-hike-page__text h3,
.camping-hike-page__text h1,
.camping-hike-page__text h3,
.travel-info-page__text h1,
.travel-info-page__text h3,
.about-page__text h1,
.about-page__text h3 {
  font-size: 16px;
}

.short-hike-page__text,
.long-hike-page__text,
.camping-hike-page__text,
.about-page__text,
.travel-info-page__text {
  left: 527px;
  max-width: 800px;
  padding: 30px;
  position: relative;
  text-align: left;
  top: -193px;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #707070;
}

.short-hike-page__btn-show-more,
.long-hike-page__btn-show-more,
.camping-hike-page__btn-show-more,
.about-page__btn-show-more,
.travel-info-page__btn-show-more {
  background-color: #9d5f3e;
}

.short-hike-page__btn-show-more,
.long-hike-page__btn-show-more,
.camping-hike-page__btn-show-more,
.about-page__btn-show-more,
.travel-info-page__btn-show-more {
  color: #fff;
  padding: 7px 72px;
  border-radius: 4px;
  font-size: 1.2rem;
  position: relative;
  top: 13px;
}

.short-hike-page__btn-show-more,
.long-hike-page__btn-show-more,
.camping-hike-page__btn-show-more,
.about-page__btn-show-more,
.travel-info-page__btn-show-more {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.short-hike-page__btn-show-more:hover,
.long-hike-page__btn-show-more:hover,
.camping-hike-page__btn-show-more:hover,
.about-page__btn-show-more:hover,
.travel-info-page__btn-show-more:hover {
  filter: brightness(115%);
}

@media screen and (max-width: 850px) {
  .short-hike-page__text,
  .long-hike-page__text,
  .camping-hike-page__tex,
  .about-page__text,
  .travel-info-page__text {
    left: 474px;
    margin-top: -13px;
  }
}

@media screen and (max-width: 600px) {
  .short-hike-page__text,
  .long-hike-page__text,
  .camping-hike-page__text,
  .about-page__text,
  .travel-info-page__text {
    left: 57%;
    margin-top: -30px;
    margin-bottom: 47px;
  }

  .short-hike-page__main-img,
  .long-hike-page__main-img,
  .camping-hike-page__main-img,
  .about-page__main-img {
    margin-top: -90px;
  }

  .travel-info-page__main-img {
    margin-top: -88px;
  }
  .short-hike-page__text h1,
  .short-hike-page__text h3,
  .long-hike-page__text h1,
  .long-hike-page__text h3,
  .camping-hike-page__text h1,
  .camping-hike-page__text h3,
  .travel-info-page__text h1,
  .travel-info-page__text h3,
  .about-page__text h1,
  .about-page__text h3 {
    display: none;
  }
}

/************short hike info**************/
.short-hikes-trip__heading {
  margin-top: -284px;
}
.long-hikes-trip__heading {
  margin-top: -258px;
}

.camping-hikes-trip__heading {
  margin-top: -258px;
}
.short-hikes__info,
.long-hikes__info,
.camping-hikes__info,
.sustainability__info {
  background-color: #e1dfdb;
  padding: 24px;
}

.short-hikes__text p,
.long-hikes__text p,
.camping-hikes__text p,
.sustainability__text p {
  text-align: center;
  color: #5c5c5c;
  font-size: 18px;
}

.short-hikes__text span,
.long-hikes__text span,
.camping-hikes__text span {
  display: block;
}

.short-hikes__heading h2,
.long-hikes__heading h2,
.camping-hikes__heading h2,
.sustainability__heading h2,
.travel-info__heading h2 {
  text-align: center;
  font-size: 43px;
  color: #6c9ead;
}

/************short hike info accodrion**************/
.accordion {
  background-color: #c7d1ce;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #6c9ead;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion_contact-info a {
  color: #007a77;
}

.panel p {
  font-size: 16px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #707070;
}
@media screen and (max-width: 850px) {
  .accordion {
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .accordion {
    padding: 22px;
  }
}

.our_guide_btn {
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: #6c9ead;
  border: 2px solid #707070;
}

.our_guide_btn {
  width: 100%;
  padding: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.our_guide_btn:hover {
  filter: brightness(115%);
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .our_guide_btn {
    top: -17px;
    position: relative;
  }
}
@media screen and (max-width: 500px) {
  .our_guide_btn {
    margin-top: 34px;
  }
}
/************About**************/

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: -240px;
}

.flex-container__about {
  background-color: #c7d1ce;
}

.flex-container-item {
  flex: 50%;
  margin-top: -223px;
  padding-left: 1px;
}

.flex-container-item img {
  width: 100%;
}

.flex-container-item h2 {
  font-size: 30px;
  margin-top: -104px;
  color: #ffffff;
}

.flex-container-item p {
  font-size: 20px;
}

.flex-container__about img {
  width: 52%;
  border-radius: 50%;
  height: 118px;
  display: block;
  margin-left: 73px;
  margin-top: 59px;
  margin-bottom: 30px;
}

.sustainability__bg-img {
  width: 52%;
  height: 36px;
  display: block;
  margin-top: 59px;
  margin-top: 10px;
}

.flex-container__sustainability i {
  margin-left: 10px;
  font-size: 63px;
  margin-top: 18px;
}

.flex-item {
  padding: 18px;
  flex: 50%;
  text-align: center;
  background-color: #ffffff;
  opacity: 0.7;
  color: #707070;
  margin: 11px;
}

.flex-item h2 {
  font-size: 20px;
  color: #707070;
}

.sustainability__bg-img {
  background-image: url("/images/about_sustainability_img_02_resize.jpeg");
}

.sustainability__bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  width: 100%;
  height: 421px;
  margin-bottom: 16px;
}

.flex-container__sustainability {
  margin-top: -367px;
  margin-bottom: 20px;
}

.flex-item__sustainability {
  margin-top: -30px;
  margin-bottom: 31px;
}

@media screen and (max-width: 950px) {
  .flex-container {
    flex-direction: column;
    position: relative;
    margin-top: -377px;
  }

  .flex-container__sustainability {
    background-color: #6c9ead;
    margin-top: 10px;
  }

  .flex-container-item {
    margin-top: 100px;
    margin-bottom: -44px;
  }

  .flex-container__about img,
  .flex-container__sustainability img {
    width: 18%;
    margin-left: 41%;
  }

  .flex-container__about {
    margin-top: -276px;
  }

  .flex-item__about {
    margin-bottom: 10px;
  }

  .flex-item__sustainability {
    margin-bottom: 16px;
    margin-top: 10px;
  }

  .sustainability__bg-img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .flex-container__about img,
  .flex-container__sustainability img {
    width: 22%;
  }
}

/****************sustainability*****************/

/****************travel info*****************/
.accordion_travel-info {
  margin-top: -313px;
}

.accordion_travel-info_style i {
  font-size: 20px;
}

/* home page newsletter */
.book-now-bg-img {
  background-image: url("/images/start_booking_now_img_03_resize.jpeg");
}

.book-now-bg-img {
  background-position: center center;
  background-repeat: inherit;
  background-size: auto;
  height: 314px;
  margin-top: 34px;
  opacity: 0.5;
  width: 100%;
}

.book-now-main-text {
  background: rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%);
  z-index: 2;
  left: 50%;
  max-width: 1076px;
  padding: 23px;
  position: relative;
  text-align: center;
  margin-top: -165px;
  margin-bottom: 147px;
}

#fname,
#email {
  border-radius: 3px;
  border: 1px solid #989898;
  font-size: 18px;
  height: 40px;
  padding: 10px 10px;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.9;
}

.book-now-btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  height: 50px;
  margin-top: 27px;
  margin-right: 46%;
  width: 100%;
  background-color: #007a77;
  color: #ffffff;
}

.book-now-btn i {
  color: #ffffff;
}

.travel-info__book-now {
  margin-bottom: -302px;
}

.book-now-radio {
  font-size: 20px;
  text-align: left;
  color: #5c5c5c;
}
/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #fname,
  #email {
    margin-top: 20px;
    margin-left: -12px;
    width: 100%;
  }
  .book-now-bg-img {
    height: 371px;
  }
  .book-now-main-text {
    margin-top: -185px;
  }
}

/*************************** contact us page style *********************/

.message-us-contact-us-form-box {
  background-color: #c7d1ce;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: #2d3059;
  margin-bottom: 16px;
  margin-top: 23px;
}

.message-us-contact-us-info img {
  width: 100%;
  background-color: #c7d1ce;
  padding: 10px;
  margin-top: 22px;
  opacity: 0.7;
}

.message-us-contact-us-form-box h1 {
  text-align: center;
  font-size: 30px;
}

input[type="text"],
input[type="email"],
input[type="emailFooter"],
input[type="emailAdress"],
select,
textarea,
option {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 17px;
  line-height: 20px;
  color: #2d3059;
}

textarea {
  height: 200px;
}

/* label {
  margin-bottom: 10px;
  display: block;
} */

.btn {
  background-color: #007a77;
  color: #ffffff;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  filter: brightness(130%);
}
